.site-footer {
    background-color: #333333;
    color: #ffffff;
}

.footer-content {
    max-width: 1360px;
    margin: 0 auto;
    padding: 2.5rem;
    display: flex;
    gap: 7.5rem;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.footer-nav{
    display: flex;
}

.footer-nav ul {
    display: flex;
    gap: 1.25rem;
}

.footer-nav ul ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-nav strong {
    color: #ededed;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    display: block; /*precisamos estabeler o display block, pois o strong é um elemento inline, então ele não ocupa toda a largura disponível, e o margin-bottom não funciona como esperado. Ao definir display: block, o strong passa a ocupar toda a largura disponível, e o margin-bottom funciona corretamente, criando um espaço entre o título e os itens da lista.*/
    font-weight: 400;
} 

.footer-nav li a {
    color: #ffffff;
}

.footer-nav li a:hover {
    color: #9e9e9e;
    transition: color 0.3s;
}


.newsletter-form input {
    border-radius: 30px;
    color: #aaaaaa;
    padding: 0.75rem 1.25rem;
    width: 21.5rem;
}

.footer-social span {
    margin-bottom: 1rem;
    display: block;
}

.footer-social ul {
    display: flex;
    gap: 1.25rem;
}

.footer-social li a:hover img{ /*aqui, utilizamos o a:hover img, pois queremos que a opacidade seja aplicada no icone (imagem) quando o usuário passar o mouse sobre o link (a). Se utilizássemos apenas a:hover, a opacidade seria aplicada em todo o link, incluindo o texto, o que não é o que queremos. Ao usar a:hover img, garantimos que apenas a imagem (ícone) seja afetada pela mudança de opacidade quando o usuário interagir com o link. */
    opacity: 0.7;
}
